.container-personal-data {
    height: 100%; 
    width: 100%;

    p {
        color: #b81f59;
        font-size: 16px;
    }
}

.section-title {
    height: auto;
    display:flex; 
    flex-direction:column;
    justify-content: center; 
    align-items: center;
}

.section-content {
    height: 85%;
     width: 100%;
}
.form {
    width: 100%;
    margin:  auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid rgb(197, 191, 191);


    button {
        background-color: #a41c54;
        color: #e9b9cc;
        border: grey;
        border-radius: 5px;
        width: auto;
        height: 5vh;
        box-shadow:  0px 0px 2px rgb(90, 87, 87);
        cursor: pointer;
        
        &:hover {
            color: white;
            background-color:#ed8bb2;
        }
    }
}

.button-close-modal {
    height: 5%; 
    width: 100%; 
    display:flex; 
    justify-content: right;

    button {
        color: red;
        background-color: transparent;
        border: none;
        font-size: 15px;
        cursor: pointer;

        &:hover {
            font-weight:  bolder;
            text-shadow: 0px 0px 5px rgba(244, 71, 28, 0.937);
        }
    }

}

.form-modal {
    width: 100%;
    margin:  auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    .buttons-modals {
        width: 100%; 
        display: flex; 
        justify-content: center; 
        align-items: center;
        align-content: center;

        .button-save {
            background-color: #b81f59;
            color: #fff;
            border: none;
            border-radius: 5px;
            font-size: 15px;
            cursor: pointer;
        
            &:hover {
                background-color: darken(#c3064e, 10%);
            }
        }
    }

    button {
        background-color: #a41c54;
        color: #e9b9cc;
        border: grey;
        border-radius: 5px;
        width: 28%;
        height: 5vh;
        box-shadow:  0px 0px 2px rgb(90, 87, 87);
        cursor: pointer;
        
        &:hover {
            color: white;
            background-color:#ed8bb2;
        }
    }
}

.div-form {
    display: flex; 
    width: 90%;
    margin-block: 5px;
}

.div-form-upload  {
    display: grid; 
    justify-content: center; 
    width: 100%; 
    border-radius: 10px;
    margin-block: 10px;
    
    input {
        border: none;
        box-shadow: none;
    }
}

