$primary-font: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
$font-size-title-page: 20px;
$font-size: 17px;
$small-font-size: 14px;
$primary-color: #b81f59;

.nav-button {
    background-color: $primary-color;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: $font-size-title-page;
    width: 180px;
    cursor: pointer;
    height: 100%;

    &:hover {
        background-color: darken($primary-color, 10%);
    }

    @media screen and (max-width:500px) {
        font-size: $small-font-size;
        transition: all 0.2s ease-in-out;
    }
}

.nav-button-menu {
    background-color: $primary-color;
    height: auto;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 17px;
    cursor: pointer;

    &:hover {
        background-color: darken($primary-color, 10%);
    }

    @media screen and (max-width:500px) {
        font-size: cal(#{$small-font-size} - 10px);
        transition: all 0.2s ease-in-out;
    }
}

.nav-button-menu-login {
    background-color: $primary-color;
    color: white;
    border: 1px solid whitesmoke;
    border-radius: 5px;
    font-size: $font-size;
    width: 80px;
    cursor: pointer;

    @media screen and (max-width:500px) {
        font-size: cal(#{$small-font-size} - 5px);
        transition: all 0.2s ease-in-out;
    }

    &:hover {
        background-color: darken($primary-color, 10%);
        box-shadow: 0 12px 16px 0 $primary-color, 0 17px 50px 0 rgba(255, 23, 23, 0.767);
    }
}

.nav-button-submenu {
    background-color: transparent;
    width: 100%;
    color: black;
    border: none;
    border-radius: 5px;
    align-items: center;
    padding: 10px;
    font-size: 13px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    font-family: $primary-font;

    &:hover {
        color: white;
        background-color: darken($primary-color, 10%);
    }
}

.nav-button-menu-logout {
    background-color: transparent;
    color: #fa9191;
    border: none;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;

    &:hover {
        box-shadow: 0 12px 16px 0 $primary-color, 0 17px 50px 0 darken($primary-color, 40%);
        color: #fff;
    }
}

.nav-button-icone {
    background-color: transparent;
    align-items: center;
    color: white;
    border-radius: 50%;
    box-shadow: none;
    cursor: pointer;

    &:hover {
        box-shadow: 0 12px 16px 0 $primary-color, 0 17px 50px 0 darken($primary-color, 40%);
        color: white;
    }
}

.nav-button-close {
    background-color: transparent;
    color: red;
    border: none;
    border-radius: 5px;
    font-weight: normal;
    padding: 5px;
    cursor: pointer;

    &:hover {
        font-weight: bolder;
        text-shadow: 5px 5px 5px darken(red, 10%);
    }
}

.button-primary {
    background-color: #b81f59;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin: 25px;
    width: 60%;
    height: 40px;
    font-size: 15px;
    cursor: pointer;

    &:hover {
        background-color: darken(#c3064e, 10%);
    }
}