// main.scss
@import 'button.scss';


$primary-color: #b81f59;
$primary-font: Arial;
$font-size: 15px;

$scrollbar-width: 3px;
$scrollbar-track-background: #f5f5f5;
$scrollbar-thumb-background: #888;
$scrollbar-thumb-hover-background: #555;

body {
  font-family: $primary-font;
  font-size: $font-size;
  background-color: #333;
  color: #333;
  margin: 0px;
  height: 100vh;
  width: 100vw;
}


h1 {
  color: $primary-color;
  
  &:hover {
    text-shadow: 2px 2px 2px #f5669c;
}
}

input {
  display: flex; 
  align-items: center; 
  align-content: center;
  border: 2px solid darken($primary-color, 2%);
  border-radius: 8px;
  font-size: $font-size;
  margin: 15px;
  padding: 10px;
  width: 100%;
  @media screen and (max-width:900px) {
    width: 70%;
}
}

input:focus {
  border: 1px solid $primary-color;
  box-shadow: 0px 0px 4px darken($primary-color, 10%);
  outline: none;
}

// Estilos globales de la scrollbar
::-webkit-scrollbar {
  width: $scrollbar-width;
}

::-webkit-scrollbar-track {
  background-color: $scrollbar-track-background;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: $scrollbar-thumb-background;

  &:hover {
    border-radius: 10px;
    background-color: $scrollbar-thumb-hover-background;
  }
}
