$bg-color: #b81f59;
$font-color: #ffffff;


.navbar {
    background-color: $bg-color;
    color: $font-color;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    box-shadow: 0 4px 3px -2px #000000;

    .navbar-content {
        display: flex;
        align-items: center;
        width: 40vw;
        height: 100%;
        @media screen and (max-width:900px) {
            display:none;
        }
    }

    .navbar-brand {
        font-size: 1.5rem;
        font-weight: bold;
        margin-inline-start: 20px;
        width: 30vw;

        @media screen and (max-width:600px) {
            font-size: cal(#{$small-font-size} - 5px);
            margin-inline-start: 0px;
        }
    
    }}

    .navbar-content-usersession {
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin: auto;
        width: 35%;
        font-size: 1rem;
    }

    .navbar-content-allusers {
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin: auto;
        width: 50%;
        font-size: 1rem;
    }

    .nav-link {
        font-size: 1rem;
        button {
            height: 30px;
            font-family: $primary-font;
        }

        &:hover {
            color: darken($font-color, 10%);
        }
    }

    .menu-wrapper {
        position: relative;

    }

    .menu-overlay {
        position: absolute;
        top: 100%;
        left: 0;
        margin-top: 0px;
        min-width: 100%;
        width: 10vw;
        background-color: white;
        border-radius: 5px;
        border: 1px solid black;
        padding: 5px;
        z-index: 999;
    }

    .menu-overlay li {
        list-style: none;
    }
