$bg-color-active: #b81f59;
$bg-color-navigation:#ed8bb2;

.container-profile {
    width: 80vw;
    height: 90vh;
    display: flex; 
    justify-content: center; 
    align-items: center;
    margin: auto;
    @media screen and ( max-width: 900px){
        width: 90vw;
        transition: all 0.2s ease-in-out;
    }
}

.content-profile {
    background: white;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90%;
    box-shadow: 0 0 20px black;
    background-color:whitesmoke;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    background-color: $bg-color-navigation;
    height: 10%;
    width: 100%;
    border-bottom: 2px solid black;

    button.active {
        color: white;
        background-color: $bg-color-active;
    }

    button {
        height: 100%;
        width: 100%;
        font-family: $primary-font;
        font-size: 17px;
        color: $bg-color-active;
        background-color: transparent;
        border: none;
        box-shadow: none;

        &:hover {
            color: white;
            background-color: $bg-color-active;
        }

        @media screen and ( max-width: 900px){
            font-size: 15px;
            transition: all 0.2s ease-in-out;
        }
    }

}

.navitagion-content {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 90%;
    width: 100%;
    overflow-y: auto;
}
