// main.scss
@import './home/home.scss';
@import 'button.scss';
@import './navbar/navbar.scss';
@import './profile/profile.scss';
@import './profile/paymentmethods/paymentmethods.scss';
@import './profile/personaldata/personaldata.scss';
@import './Components/SeeComic.scss';

// Variables
$primary-color: #b81f59;
$primary-font: Arial;
$font-size: 15px;
$scrollbar-width: 5px;
$scrollbar-track-background: #f5f5f5;
$scrollbar-thumb-background: #888;
$scrollbar-thumb-hover-background: #555;

// Estilos base
body {
  font-family: $primary-font;
  font-size: $font-size;
  background-image: radial-gradient(circle at 50% -20.71%, #505467 0, #191e29 50%, #020e2e 100%);
  background-attachment: fixed;
  color: #333;
  margin: 0px;
}

// Estilos de encabezados
h1, h2, h3, h5 {
  color: #f5f5f5;

  &:hover {
    text-shadow: 2px 2px 2px #f5669c;
  }
}

h1 {
  color: $primary-color;
}

// Estilos de input
input, select {
  display: flex; 
  align-items: center; 
  align-content: center;
  border: 2px solid darken($primary-color, 2%);
  border-radius: 20px;
  font-size: $font-size;
  margin: 15px;
  padding: 10px;
  width: 100%;

  @media screen and (max-width:900px) {
    transition: all 0.2s ease-in-out;
  }

  &:focus {
    border: 1px solid $primary-color;
    box-shadow: 0px 0px 4px darken($primary-color, 10%);
    outline: none;
  }
}

// Estilos específicos para select
select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 24 24'%3E%3Cpath fill='%23333' d='M7 10l5 5 5-5z'/%3E%3C/svg%3E");
  background-position: right 10px center;
  background-repeat: no-repeat;

  option {
    background-color: #fff;
    color: #333;

    &:hover {
      background-color: $primary-color;
      color: #fff;
    }
  }
}

// Estilos globales de la scrollbar
::-webkit-scrollbar {
  width: $scrollbar-width;
  height: $scrollbar-width;

  track {
    background-color: $scrollbar-track-background;
    cursor: pointer;
  }

  thumb {
    border-radius: 5px;
    background-color: $scrollbar-thumb-background;

    &:hover {
      border-radius: 10px;
      background-color: $scrollbar-thumb-hover-background;
    }
  }
}
